html, body {
    height:100%;
    overflow:visible;
}
body {
    background-color: #363636;
    padding: 0;
    margin: 0;
}
.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.imgback {
    background: url("../images/frend.jpg") no-repeat 100% 80%;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
/*нижее поле для текста*/
.text {
    background-color: #363636;
    bottom: 0;
    color: #fff;
    display: block;
    height: 33%;
    left: 50%;
    margin-bottom: 20px;
    margin-left: -630px;
    opacity: 0.7;
    padding: 10px 30px;
    position: absolute;
    width: 1200px;
    z-index: 999;
}
.menu-bottom {
    background-color: gold;
    bottom: 0;
    margin-bottom: 0;
    margin-left: -30px;
    position: absolute;
    width: 1260px;
}
.menu-bottom ul {
    margin-top: 0;
    padding-bottom: 7px;
}
.menu-bottom ul li {
    float: left;
    list-style-type: none;
    text-align: center;
    width: 25%;
}