@font-face {
    font-family: 'Five Minutes';
    src: local('Five Minutes'), local('FiveMinutes'), url('Fiveminutes.woff2') format('woff2'), url('Fiveminutes.woff') format('woff'), url('Fiveminutes.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
