@font-face {
    font-family: 'Lionelofparis';
    src: local('Lionelofparis'), url('lionelofparis.woff2') format('woff2'), url('lionelofparis.woff') format('woff'), url('lionelofparis.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
