@font-face {
    font-family: 'Romochka';
    src: local('Romochka'), url('Romochka.woff2') format('woff2'), url('Romochka.woff') format('woff'), url('Romochka.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
