@font-face {
    font-family: 'Sunday';
    src: local('Sunday'), local('Sunday-Regular'), url('Sunday.woff2') format('woff2'), url('Sunday.woff') format('woff'), url('Sunday.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
